[flake8]
ignore = E402 E203 C901
exclude = .eggs,*.egg,build, mrinversion/kernel/__init__.py
filename = *.pyx,*.px*, *py
max-line-length = 90
max-complexity = 10
select = C,E,F,W,N8

## E203, E266, E501, F403, F811, F841, F401, C901
