numpy>=1.20
mrsimulator>=0.8.0rc0
scikit-learn>=0.24.2
matplotlib>=3.3.4
pydantic<=1.10
csdmpy>=0.6
joblib>=1.0.0
astropy>=5.1

# development packages
pytest-runner>=5.0
pytest>=5.3
black
pre-commit>=1.16.1
coverage>=4.5.3
pytest-cov
codecov

# Building Docs requirements
sphinxjp.themes.basicstrap
sphinx>=2.0
sphinx-gallery>=0.10
pillow>=7.1.2
breathe==4.34.0
sphinx_copybutton>=0.3.0
sphinx-tabs>=1.1.13
recommonmark
sphinx-version-warning
